<div id="tabledashboard">
  <div class="container">
    <h1>Table dashboard</h1>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
<% block('localScripts', '<script src="/js/local/tabledashboard/angular.js"></script>') %>
